:root {
    --controller-background-image: url(./images/base.svg);
    --controller-disconnected-image: url(./images/disconnected.svg);
    --controller-touchpad-image: url(./images/logo.png);
    --controller-trigger-image: url(./images/trigger.svg);
    --controller-bumper-image: url(./images/bumper.svg);
    --controller-meta-pressed-image: url(./images/meta.svg);
    --controller-start-image: url(./images/start-select.svg);
    --controller-button-image: url(./images/abxy.svg);
    --controller-stick-image: url(./images/stick.svg);
    --controller-face-image: url(./images/dpad.svg);
}